@use './variables.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: $font;
}

h1,
h2,
h3,
h4 {
  color: $accent-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $spacing-sm $spacing-lg;
  width: 100%;
}

.navigation {
  flex-direction: row;
  color: $accent-color;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  gap: $spacing-xxl;

  a {
    text-decoration: none;
    color: $accent-color;

    &:hover {
      color: black;
    }
  }
}
